@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.full-height-page {
  min-height: calc(100vh - 56px);
}

.cstm-datepicker {
  width: 100%;
  display: block;
}

.card-text {
  font-size: 14px;
}

.align-caret-right::after {
  margin-left: 60px;
}

.custom-font {
  font-family: "Carter One", system-ui;
}
