.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.full-height-page {
  min-height: calc(100vh - 56px);
}

.cstm-datepicker {
  width: 100%;
  display: block;
}

.card-text {
  font-size: 14px;
}
